In [1]:
# Three types of Recommendation system:
# 1: Content based 2: Collaborative filtering based 3: Hybrid

In [2]:
# 1: Content based: It is a R. system that suggests content on the basis of similarity in it. Eg: On Youtube, if you 
# are listening to romantic songs, then the recommender will recommend you something similar or if you watch cricket 
# videos than suggestions will be related to that only. Here we create tags and on the basis of similarities of tags, 
# we recommend accordingly.

In [3]:
# 2: Collaborative filtering : It recommends content on the basis of user's interest. Eg: Suppose there are two users A 
# and B and their interests are very similar (similarity score is 0.9). And do we get to know that, their rating on a 
# similar movie that they had watched was very similar and we showed someother movie, for that they gave it a bad 
# rating.

# Now, user A has watch a movie M2 and he liked the movie then since we know that they have similar movie interest, we will 
# recommend M2 to B as well. This is called Collaborative filtering based Movie Recommending system.

In [4]:
# 3: Hybrid: Youtube is an example of this recommendation system where they uses features of both to recommend content 
# to its users.

In [5]:
# # In our project, we will be using content based recommendation project.

# Whenever, you are building a project, you should have a high level overview on what you are going to do on the project:

# Data collection pre-processing : It means changing or molding data as per our own preference. Model building:
# Converting the model into a website
# Deploying that website

In [1]:
import numpy as np
import pandas as pd

In [2]:
# import numpy as np # linear algebra
# import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

# import os
# for dirname, _, filenames in os.walk('/kaggle/input'):
#     for filename in filenames:
#         print(os.path.join(dirname, filename))

In [3]:
movies = pd.read_csv("C:\\Users\\veni_\\Desktop\\Movie Recommedation Sys\\Data\\tmdb_5000_movies.csv")
# credits = pd.read_csv("C:\\Users\\veni_\\Desktop\\Movie Recommedation Sys\\Data\\tmdb_5000_credits.csv")

In [4]:
# movies = pd.read_csv("C:\\Users\\veni_\\Desktop\\Movie Recommedation Sys\\Data\\tmdb_5000_movies.csv")
# credits = pd.read_csv(, low_memory=False)

credits = pd.read_csv("C:\\Users\\veni_\\Desktop\\Movie Recommedation Sys\\Data\\tmdb_5000_credits.csv")

In [5]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [6]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [7]:
# how to display values of a particular column
credits.head(1)["title"].values

array(['Avatar'], dtype=object)

In [8]:
x`

In [10]:
movies.shape

(4803, 20)

In [11]:
credits.shape

(4803, 4)

In [12]:
movies.merge(credits, on = "title").shape

(4809, 23)

In [13]:
# Code for how to merge two dataframes.

movies = movies.merge(credits, on = "title")

# it is evident that earlier  columns were 20 and 4 and after merging them onto one column, the no. of column became 24.
# at the end of the dataframe, cast and crew has been appended into movies.

In [14]:
movies.head(1)

# here we can see that the last two columns have been added from credits.

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [15]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

In [20]:
# # removing the redunt columns
# #how to deicide: forsee whether a particular column will help us in creating tags or not.
# # Columns that we will keep: 
# genres: 
# movie_id : iit will be useful when we want poster of the movies and with its help we will be able to fetch poster. 
# keywords: they are basically tags.
# title: 
# Overview : if you want to understand the similarity of content, you can do it by comparing the overview of two movies and 
# if the overview is similar than movie will be similar as well. 
# cast
# crew

In [21]:
# # Columns that we will not keep


# release_data = although it will matter to some extent as a certain age group would like to watch a certain time period 
# movies like, our parents would like to watch older movies (before 2000) and younger generations would like to watch
# newer movies (after 2000) but since it is numeric, we will not keep it.
# tagline: doesnt help anywhere in recommending.
# vote_average : numerical
# vote_count : numerical

In [16]:
# here we are taking out the following columns from the movies and again storing them in movies.  

movies = movies[["movie_id", "title", "overview", "genres", "keywords", "cast", "crew"]]

In [18]:
movies.head()

# this is the main dataframe onto which will make our recommendation model.

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [24]:
# After this we will make a new dataframe with the help of the above DF. The new DF will have 3 columns which will include
# movie id, title, tags

# how we will make tags columns: we will merge : overview, genres, keywords, cast and crew. 
# Basically we will add take overview column and will add all the genres keyswords (eg: action, horror, etc) [ofcourse 
# first we will have to modify the genres column] and we will do same thing for other columns.
# for cast we will only add the top three cast and not all
# for crew we will add only the director name.

# After merging we will get a paragraph for every movie and for that first we will have to start with PREPROCESSING viz
# removing the missing and duplicate data

In [19]:
# Removing the missing data : isnull() function is used to find out the null values. 
# we can see that overview has 3 values which are null or empty
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [20]:
# this is how you drop null values
movies.dropna(inplace = True)

In [21]:
movies.isnull().sum()

# we have removed 3 movies for which we didn't have any overview.

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

# How to check if we have any duplicate data

In [22]:
movies.duplicated().sum()

# it is clear from the output that none movie has a duplicate

0

# how to pre-process a column as per our requirement!

In [23]:
# how to pick a particular column 

movies.iloc[0].genres

# the format is in a not right as it is a list of dictionary

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [24]:
# This is the format we want the genres column to be:
    
# ["Action", "Adventure", "Fantasy", "Science Fiction"]

In [26]:
import ast
# ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

In [32]:
# Creating a helper function.

# def convert(obj):
#     l = []
#     for i in obj: 
#         l.append(i["name"]) # that is how you take out a particular value from a dictionary
#     return l

# Although there is one problem with genres as the values in it are strings which is causing an error. To fix this, what 
# we have to do is that we have to convert string of list into list.

# And for this, there is a module in Python called "ast" and in that there is a fuction called "literal_eval()" that works
# to fix this only.

In [28]:
def convert(text):
    l = []
    for i in ast.literal_eval(text): 
        l.append(i["name"])
    return l


# putting object in ast.literal_eval and when we will get this object it will be a string and after this operation, it will
# become a list and then we will be able to operate on it

In [29]:
movies.dropna(inplace=True)

In [30]:
movies["genres"].apply(convert)
# Here we are getting a list of all the geners for every movie

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4804                        [Action, Crime, Thriller]
4805                                [Comedy, Romance]
4806               [Comedy, Drama, Romance, TV Movie]
4807                                               []
4808                                    [Documentary]
Name: genres, Length: 4806, dtype: object

In [31]:
movies["genres"] = movies["genres"].apply(convert)

In [32]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [33]:
movies["keywords"] = movies["keywords"].apply(convert)

In [34]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [35]:
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [36]:
# In cast, we need to pick only the top 3 actors so we would need first 3 dictonaries.

def convert3(text):
    l = []
    counter = 0
    for i in ast.literal_eval(text): 
        if counter < 3:
            l.append(i["name"])
        counter += 1
    return l

In [37]:
movies["cast"] = movies["cast"].apply(convert)

In [38]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [44]:
movies['cast'] = movies['cast'].apply(lambda x:x[0:3])

In [45]:
# Now we are left with crew and it is a bit difficult

In [46]:
def fetch_director(obj):
    l = []
    for i in ast.literal_eval(obj): 
        if i["job"] == "Director": 
            l.append(i["name"])
    return l

In [47]:
# movies["crew"] = movies["crew"].apply(fetch_director)

In [49]:
movies.sample(5)

,movie_id,title,overview,genres,keywords,cast,crew
4054,74457,Redemption Road,A Tennessee-set drama focused on an individual...,[Drama],[],"[Michael Clarke Duncan, Morgan Simpson, Kiele ...","[{""credit_id"": ""52fe48ccc3a368484e10b6e1"", ""de..."
910,9919,How to Lose a Guy in 10 Days,"An advice columnist, Andie Anderson (Kate Huds...","[Comedy, Romance]","[new york, bet, journalist, therapist, adverti...","[Kate Hudson, Matthew McConaughey, Kathryn Hahn]","[{""credit_id"": ""52fe4549c3a36847f80c59c1"", ""de..."
3323,15365,Witless Protection,The story centers on a small-town sheriff who ...,"[Action, Adventure, Comedy, Crime]",[],"[Larry the Cable Guy, Ivana Miličević, Jenny M...","[{""credit_id"": ""55bb711992514123d8007ee9"", ""de..."
3236,11818,Valley of the Wolves: Iraq,The movie opens with a fictionalized depiction...,"[Adventure, Drama, Action]","[intelligence, turk, soldier, gangster, iraq war]","[Muhammed Necati Şaşmaz, Billy Zane, Ghassan M...","[{""credit_id"": ""52fe448b9251416c75038849"", ""de..."
3423,250546,Annabelle,John Form has found the perfect gift for his e...,[Horror],"[prequel, evil doll, killer doll, spin off, do...","[Annabelle Wallis, Ward Horton, Tony Amendola]","[{""credit_id"": ""540227940e0a2658e900554d"", ""de..."

In [50]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [51]:
# movies["overview"][1]

# column overview is string and we need to convert it to list as well so that we are able to concatinate with other lists

In [52]:
# movies.head()

In [53]:
# so now we have converted every field into a list. Now all we are left with is that we will concatenate all the lists so
# that we get a big list and after that we will convert that list into a field so that a paragraph will be formed. And
# will be our tags column.

In [54]:
# There is a problem that we have to apply transformation on all the last 4 columns, and the transformation is that 
# we have to remove all the space from between words for eg. the space b/w Sam Worthington should be converted to   
# SamWorthington. 

# It is very important for our recommender system as if we dont remove the space, the recommender will think that 
# Sam Worthington are two different persons and it will make two different tags for one person. Since, in our data,
# we have a person named Sam Mendes, the recommender might get confuse b/w the two. And if we will remove the space, then
# SamWorthington will be one entity and hence there will not be any confusion.

# we will make same changes to other columns as well like Science Fiction to ScienceFiction

In [55]:
# movies['genres'] = movies['genres'].apply((lambda x:[i.replace(" ", "") for i in x]))
# movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ", "") for i in x])
# movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ", "") for i in x])
# movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ", "") for i in x])

In [56]:
movies['genres'] = movies['genres'].apply(collapse)
movies['keywords'] = movies['keywords'].apply(collapse)
movies['cast'] = movies['cast'].apply(collapse)
movies['crew'] = movies['crew'].apply(collapse)

In [57]:
movies.head()

# we can see that the space is no longer there in betweeen actors name and directors name.

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""..."

In [58]:
# here we are applying a lamda function

movies["overview"] = movies["overview"].apply(lambda x:x.split()) # it says that if will find x, then we will split x

In [59]:
# Concatnating all the columns into a new column named TAG.

movies["tags"] = movies["overview"] + movies["genres"] + movies["keywords"] + movies["cast"] + movies["crew"]

In [60]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""...","[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""...","[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""...","[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""...","[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]","[[, {, "", c, r, e, d, i, t, _, i, d, "", :, , ""...","[John, Carter, is, a, war-weary,, former, mili..."

In [61]:
new = movies.drop(columns=['overview','genres','keywords','cast','crew'])

In [62]:
new['tags'] = new['tags'].apply(lambda x: " ".join(x))
new.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [63]:
# # Now since we have got the tags columns, we will remove the other columns since we already have their values stored in
# # tags columns

# new_df = movies[["movie_id", "title", "tags"]]

In [ ]:
# Now the values in the tags columns are in a list, we need to convert them into a string

# new_df['tags'] = new_df['tags'].apply(lambda x : " ".join(x))

In [ ]:
# new_df.head()

In [ ]:
# new_df["tags"][0]

In [ ]:
# converting the values into lower case. It is always recommended to do this.

In [ ]:
# new_df["tags"] = new_df["tags"].apply(lambda x : x.lower())

In [ ]:
# new_df.head()

In [ ]:
# new_df["tags"][0]

In [ ]:
# Strategy : we have to make a website where a user will enter name of a movie and we have to tell him the most similar 
# movies related to the movie given by the user and we have to tell the similarity on the basis of tags.

In [ ]:
# So how do we calculate similarity?

# The similarity between two movies depend on the fact that how much similarity is there within two words. 

# One of the ways to find similarity could be if we calculate the number of similar words in movies. The two movies that
# have the most number of similar words should be similar as well. But this is not very efficient.

# There is another way which is called vectorization ie we will convert the text into vectors.

# Vector is nothing but a coordinate having x and y value. In this we will convert every tag of every movie into a vector
# as soon as we will do that, every movie will become a vector. 

# Suppose someone has entered name of a movie as input and now wants to know similar movies. So, in our model, there are 5000
# tags meaning 5000 movies meaning 5000 vecators. So which vector we will choose, the ones who are closest.

In [ ]:
# So in a nutshell we have to convert text into vectors and this process is called text vectorization. There are different
# techniques to it... The one which we will be using is called BAG OF WORDS. 

# There are other techniques for converting words to vector viz TFIDF, word2vec

In [ ]:
# Bag of words: In this, what we do is that we combine all the tags together (1 movie = 1 tag). So, if there are 100 words 
# in a movie, then we might have around 5,00,000 words if we combine all 5000 tags. So basically we will concatenate all the 
# tags [tag1 + tag2...] and when it becomes a large bank of words, we would want to have 5000 most common words.


# To do this, we will calculate frequency of every word and find out which words have come most no. of times.

# after this we will look into tags every movie again and suppose among the most frequent 5000 words, word1 = action (it has
# been used most no. of times). We will check in the first movie that how many times the word action has come. Suppose it 
# has come 5 times. Suppose IInd word is "future" and it has come 3 times in the Ist movie and we will fill the table
# accordinly for the Ist movie. We will do the same for every movie.

# In the end, we will have this table that will include  5000(no. of moives), 5000(appearance of most common words).

# The row1 which will have the frequency of 5000 words in movie 1 is a VECTOR. It has been converted into a vector in 5000
# dimensional space. 

# Why we have taken only 5000 words and not 10000? Well, it depends on you. The lesser the words are the better as with 
# more words, the dimensionality increases. You can change the quantity of words and see which quantity is giving you 
# better results.

# When we will be doing vectorization, we will not consider stop words. STOP Words are those words that are used in sentence 
# formation but they dont add any meaning to the sentence. Eg. are, and ,of, to, from, a, is.
# We will remove these words and we will perform vectorization on the remaining words.


# We will use scikit learn library and in this there is a class CountVectorizer, we will use this class.

In [66]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000, stop_words = "english") # Creating an object cv. The Hyperparameter that we will use: max_features (that will tell us how
# many words we need to take) || It will remove the stop words for english language.

In [65]:
cv.fit_transform(new["tags"]).toarray().shape  # we will use our object cv and here we will parse df(["tags"]) and we will
# explicitly converting them into an array. 

# There will be alot of values as 0 and bydefault the object returned by CV is a scipy sparse matrix. Although we will
# convert into a numpy array.

# The output tells us that we have 4806 movies and we have transformed as per 5000 words.

(4806, 5000)

In [67]:
vector = cv.fit_transform(new["tags"]).toarray()

In [68]:
vector.shape

#here we can see that we have now every movie in a vector form

(4806, 5000)

In [ ]:
# vectors[0]

In [ ]:
# the object cv that we have made has alot of methods and one of those methods is "get_feature_names". It gives a list of 
# 5000 words which have been repeated most number of times.


# cv.get_feature_names()

In [ ]:
# len(cv.get_feature_names_out())

In [ ]:
# There is one issue with the formation of the words. 
# It is that there are two words in the corpus [action, actions] they both have same meaning. They have become two 
# features just while meaning of both words is same. They should have been same.

# To fix this, we can use stemming method. In this trim similar words that have the same roots eg:["loved", "loving", "love"]
# be shortened to ["love", "love", "love"].

# Now after using stemming the above issue has been fixed.

In [ ]:
# import nltk

In [ ]:
# from nltk.stem.porter import PorterStemmer
# ps = PorterStemmer()

In [ ]:
# def stem(text): #Creating a helper function 
#     y = []
#     for i in text.split(): #converting string into a list 
#         y.append(ps.stem(i)) # stemming every single word
#     return " ".join(y) # again converting the list into the string

In [ ]:
# ps.stem("loving")
# # 
# # if we will run loving or love, we will get love. For dancing, danced we will get danc

In [ ]:
# new_df["tags"][0]

In [ ]:
# stem("in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron")

In [ ]:
# new_df["tags"] = new_df["tags"].apply(stem) # Here we have applied stemming onto every movie

In [ ]:
# So we have 4806 movies and that means that we have the same no. of vectors and in each vector there are 5000 numbers in
# each vector. Now, since we are talking about 5000 dimensional space, here every movie is a vector anad wse will have to
# calculate distance for every movie with every other movie. The more the distance will be, the less will be the 
# similarity and vice versa.

# Here we will not caluculate EUCLIDEAN distance instead we will calculate COSINE DISTANCE.

# Euclidean distance : tip to tip distance between two movies. (root (x_2 - x_1)^2 + (y_2 - y_1)^2)

# Cosine Distance : with this we will calculate the angle between two movies. The more the angle will be, the less 
# will be the similarity and vice versa. If the angle inb/w is 10, then the movies are very similar. If the angle is 180, 
# then both the movies are opposite of each other.

# Distance is inversely proportional to similarity.

In [69]:
 from sklearn.metrics.pairwise import cosine_similarity

# The measure will be between 0 and 1, if it is 1, then there is much similarity and if 0, then very less similarity

In [ ]:
# cosine_similarity(vectors) # we will pass vectors in cosine_similarity function. We have 4806 vectors

# we will parse all the vectors and we will calculate the distance for every vector with every vector.

In [ ]:
# cosine_similarity(vectors).shape

# How many distance calculated : 4806 * 4806 since we are calculating 1st movie with 4806, 2nd movie with 4806 and son on

In [70]:
similarity = cosine_similarity(vector)

In [71]:
similarity # the shape of this is array of arrays

array([[1.        , 0.08858079, 0.05905386, ..., 0.02478408, 0.02739983,
        0.        ],
       [0.08858079, 1.        , 0.06451613, ..., 0.02707652, 0.        ,
        0.        ],
       [0.05905386, 0.06451613, 1.        , ..., 0.02707652, 0.        ,
        0.        ],
       ...,
       [0.02478408, 0.02707652, 0.02707652, ..., 1.        , 0.07537784,
        0.0489116 ],
       [0.02739983, 0.        , 0.        , ..., 0.07537784, 1.        ,
        0.05407381],
       [0.        , 0.        , 0.        , ..., 0.0489116 , 0.05407381,
        1.        ]])

In [ ]:
# similarity[0] # This is the array of the first movie and it tells the similarity of first movie with every other movie

# One thing to note here is that similarity score for Ist movie with the Ist movie will be 1. And same thing will happen
# for 2nd movie, therefore, this matrix diagnol will always be 1.

In [ ]:
# def recommend(movie): # here if someone recommends a name for a movie, this function will recommend 5 names for similar 
#     movies
#     return 

# here the Ist thing we will do is that we will have to find the index for the movie that has been recommended, with the 
# help of index we will get into similarity matrix and will find out the particular movie. For eg. If avatar was recommended
# and its index is 0, then we will find the 0th array of similarity...

In [ ]:
# similarity[0]

#... the output is the distance of avatar with every other movie. 

# now we will sort these distances ie the most similar movies will come in front and less similar movies will farther and 
# then we will fetch the top 5 similar movies and will show it to the recommender or user

In [ ]:
# how to fetch the index:

# new_df # this is our dataframe

In [ ]:
# new_df["title"] == "Avatar"

# new_df[new_df["title"] == "Avatar"] # this is called masking

In [ ]:
# new_df[new_df["title"] == "Avatar"].index # this is giving us the index

In [ ]:
# new_df[new_df["title"] == "Avatar"].index[0]

In [ ]:
# new_df[new_df["title"] == "Batman Begins"].index[0]

In [ ]:
# def recommend(movie): 
#     movie_index = new[new["title"] == movie].index[0] # This will gives us the index
#     distances = similarity[movie_index] # this will fetch us the distances. || Distances will be similarity matrix's 
# # particular movie index

# # now we are left with sorting of the distances
#     return

In [72]:
def recommend(movie):
    index = new[new['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new.iloc[i[0]].title)

In [ ]:
# sorted(similarity[0], reverse = True)

# here we have sorted the similarity score and in the begining there are those movies that are more similar

In [ ]:

# here we have another problem and that is as soon as we are doing the sorting, we are loosing on index position. Since
# before sorting the movies already had an order but after sorting, that order has been disturbed. Now we cannot say that
# Ist movie will have 1 similarity with the Ist movie, since every movies have been sorted now based on similarity score
# and we have lost the index position. 

# to fix this, we will use enumerate funcion 

list(enumerate(similarity[0])) # as soon as we will convert the enumerate function into a list, the earlier list that we
# had will be changed to list of tuples. Now we can clearly see that 0th movie has this distance with 0th movie, 0th movie
# has this distance with Ist movie and so on. 
# so basically we have created index postions with distances.

# now we will apply sorting

In [ ]:
# sorted(list(enumerate(similarity[0])), reverse = True) # this time we sorted but on the basis of index

In [ ]:
# sorted(list(enumerate(similarity[0])), reverse = True, key = lambda x:x[1])

# With lambda, we are sorting on the basis of 2nd number and not Ist.

In [ ]:
# sorted(list(enumerate(similarity[0])), reverse = True, key = lambda x:x[1])[1:6]
# This is how we chuck out the first 5 movies that are most similar to the recommended movie

In [ ]:
# def recommend(movie): 
#     movie_index = new_df[new_df["title"] == movie].index[0] # This will gives us the index
#     distances = similarity[movie_index] # this will fetch us the distances. || Distances will be similarity matrix's 
# # particular movie index
#     movies_list = sorted(list(enumerate(distances)), reverse = True, key = lambda x:x[1])[1:6]
#     for i in movies_list: # i will iterate the tuples (list of movies on similarity basis order)
#         print(new_df.iloc[i[0]].title)
# # i[0] means that we will print first index movie
# # now we are left with sorting of the distances

In [73]:
recommend("Gandhi")
# ALthough, this is working but it is giving us the index no. of the moveis. What we need is the name of the movies.

Gandhi, My Father
The Wind That Shakes the Barley
A Passage to India
Guiana 1838
Bloody Sunday

In [ ]:
# new_df.iloc[1216].title

# NEXT STEP : Convert the entire code into a website

In [ ]:
# The reason we are not using conda (existin interpreter) as our virtual environment is because we have to deploy this 
# onto a website and also because earlier all the libraries that we had installed, will start getting installed as well
# on the server and we only want to install those libraries that are required on this project.

In [74]:
import pickle # we will use pickle library for moving moives file to the website code

In [75]:
pickle.dump(new, open("movies.pkl", "wb"))  # dumping the new df, and creating a new file movies.pkl and opening it in
pickle.dump(similarity,open('similarity.pkl','wb'))
# "write binary" mode

# With this command, a file has been created with the name movies.pk inside jupyter files.

In [77]:
new

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."
...,...,...,...
4804,9367,El Mariachi,El Mariachi just wants to play his guitar and ...
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic..."
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...
4808,25975,My Date with Drew,Ever since the second grade when he first saw ...

In [ ]:
# new["title"].values # this is how you get the list of movies/ a column

In [ ]:
# how to convert a dataframe into a dictionary using to_dict function?

# new_df.to_dict()

# the reason we have done is because somehow the dataframe was not getting parsed for the video maker (it is working for
# me), so rather than sending the df, he converted the dataframe into a dictionary and parsed the dictionary instead.

In [ ]:
pickle.dump(new.to_dict(),open("movie_dict.pkl", "wb")) # this will create a new file movie_dict.pkl. 

# to make this work, you just have to copyy the new file to the ide

In [79]:
print(new.to_dict())

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [ ]:
# pickle.dump(similarity, open("similarity.pkl", "wb")) # the size of this file is 185 mb as it has 4806 * 4806 words

In [ ]:
# For movies poster, this what we will do.